*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}
.background{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;


  
}

.container{
    max-width: 1440px;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero{
background-color: #1f2937;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 125px 0px;
}

.heromain{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: auto;
    display: flex;
    padding: 0px;
    
}


.herop{
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 2;
}

.signup{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 20px;
    border-radius: 10px;
}

.logo{
    font-size: 24px;
}


.links ul li{
    display: inline-block;
    padding: 0px 15px;
}

.links ul li a{
    list-style: none;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.infoheader{
    font-size: 36px;
    font-weight: bolder;
    background-color: #f9faf8;
    color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
}