*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero{
background-color: #1f2937;
}

.heromain{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: auto;
}

.herop{
    font-size: 18px;
    color: #e5e7eb;
}

.signup{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 20px;
    border-radius: 10px;
}

.logo{
    font-size: 24px;
}


.links ul li{
    display: inline-block;
    padding: 0px 15px;
}

.links ul li a{
    list-style: none;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}